<% layout('/layouts/boilerplate.ejs'); %> 
<br><br>
<div class="row">
    <div class="col-8 offset-2">
        <h2>Sign Up on ZenStay</h2>
        <br>
        <form action="/signup" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" placeholder="Enter your Email" required class="form-control">
                <div class="invalid-feedback">
                    Enter a valid email ID.
                  </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-5">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" placeholder="Enter the Username" required class="form-control"> 
                    <div class="invalid-feedback">
                        Enter a valid username.
                      </div>
                </div>
                
                <div class="mb-3 col-md-7">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" placeholder="Enter the password" required class="form-control">
                    <div class="invalid-feedback">
                        Enter a valid password.
                      </div>
                </div>
                
            </div>
            <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                  <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                  </label>
                  <div class="invalid-feedback">
                    You must agree before submitting.
                  </div>
                </div>
              </div>
            <br>
            <button class="btn btn-outline-primary createBtn" type="submit">SignUp</button>
        </form>
    </div>
    
    </div>
    